{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <h2>Background Task with Celery and Redis</h2>
        <div class="confirmation-container" id="confirmation-container">
            {% if confirmation_message %}
                <p>{{ confirmation_message }}</p>
            {% endif %}
        </div>
        <form method="post" action="{% url 'mail:send_email' %}" id="email-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit-button" onclick="disableButton()">Submit</button>
        </form>
    </div>
{% endblock content %}